$button-diameter: 60px;
$dark-grey: #393939;
$font: "Trebuchet MS", Helvetica, sans-serif;
$grey: #3b3b3b;
$icon-dimensions: 25px;
$predef-button-diameter: 80px;
$red: #da0000;
$indicator-colour: #dba12a;
$viewport-height: 480px;
$viewport-width: 854px;

%status-bar {
    background: #d8d8d8;
    display: flex;
    height: 40px;
    justify-content: space-between;
    width: $viewport-width;
}

%button {
  align-self: center;
  background: none;
  border: none;
  height: $button-diameter;
  width: $button-diameter;
}

%predef-button {
  @extend %button;
  border-radius: 50%;
  height: $predef-button-diameter;
  padding-top: $predef-button-diameter - 1px;
  line-height: 25px;
  width: $predef-button-diameter;
}

%settings-box {
  background: $dark-grey;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  color: white;
  left: ($viewport-width/4);
  height: $viewport-height/2;
  position: absolute;
  overflow: auto;
  top: $viewport-height/4;
  width: $viewport-width/2;
  z-index: 3;
  //
  //-ms-overflow-style: none;  /* Internet Explorer 10+ */
  //scrollbar-width: none;  /* Firefox */
  &::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
  }

  p {
    border-bottom: 1px solid #b9b9b9;
    font-size: 1.2em;
    padding: 13px;
    margin: 0;
    text-align: center;

  }

  button.close-settings {
    @extend %button;

    background-image: url("./resources/cancel.png");
    left: 370px;
    height: 30px;
    position: absolute;
    top: 10px;
    width: 30px;
  }

  button.back-button {
    @extend %button;

    background-image: url("./resources/back.png");
    left: 10px;
    height: 30px;
    position: absolute;
    top: 10px;
    width: 30px;
  }

  ul {
    @extend %settings-list;
  }

}

%settings-list {
  background: $dark-grey;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;

  li {
    border-bottom: 1px solid #b9b9b9;
    padding: 10px;

  }


}

%settings-choices {

}