$button-diameter: 60px;
$font: "Trebuchet MS", Helvetica, sans-serif;
$grey: #3b3b3b;
$icon-dimensions: 25px;
$predef-button-diameter: 80px;
$red: #da0000;
$indicator-colour: #dba12a;
$viewport-height: 480px;
$viewport-width: 854px;

%status-bar {
    background: #d8d8d8;
    display: flex;
    height: 40px;
    justify-content: space-between;
    width: $viewport-width;
}

%button {
  align-self: center;
  background: none;
  border: none;
  height: $button-diameter;
  width: $button-diameter;
}

%predef-button {
  @extend %button;
  border-radius: 50%;
  height: $predef-button-diameter;
  padding-top: $predef-button-diameter - 1px;
  line-height: 25px;
  width: $predef-button-diameter;
}

%settings-box {
  background: #393939;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  left: ($viewport-width/4);
  height: $viewport-height/2;
  position: absolute;
  top: $viewport-height/4;
  width: $viewport-width/2;
  z-index: 3;
}